.W1110{
	position:relative;
}
.r0{
	margin-right:0px;
}
.tool  .typography{
	position:absolute;
	top:-53px;
	left:686px;
}
.tool  .typography p{
	padding-left:14px;
	width:146px;
	height:35px;
	background-color:#fff;
}
.tool  .typography p.p0{
	border-top:1px solid #999;
}
.tool  .typography p a{
	line-height:35px;
	color:#999999;
}
.tool  .typography p:hover{
	background-color:#F77B6F;
}

.tool  .typography p a:hover{
	color:#fff;
}
.main{
	padding:66px 0px 62px;
	color:#797979;
}
.main .heading{
	float:left;
	margin-right:96px;
}
.main .heading h2{
	margin:22px 0px;
}
.main .heading h4{
	margin:12px 0px;
}
.main .heading h6{
	margin-top:12px;
}
.main .title{
	float:left;
	width:450px;
}
.main .title h3{
	margin-bottom:12px;
}
.main .title p{
	line-height:25px;
	font-size:14px;
}
.main .text{
	float:right;

}
.main .text h3{
	margin-bottom:12px;
}
.main .text p{
	font-size:14px;	
	line-height:35px;
}
.main .text .p1{
	color:#A1A1A1;
}
.main .text .p2{
	color:#8175C7;
}
.main .text .p3{
	color:#59ACE2;
}
.main .text .p4{
	color:#FCB322;
}
.main .text .p5{
	color:#FF6C60;
}
.main .text .p6{
	color:#A9D86E;
}

.main .highlight h3{
	margin:36px 0px 16px;

}
.main .highlight p{
	font-size:14px;
	line-height:25px;
}
.main .highlight p .mark1{
	background-color:#9CCE44;
	color:#fff;
}
.main .highlight p .mark2{
	background-color:#242424;
	color:#fff;
}
.main .highlight p .mark3{
	background-color:#F2C600;
}
.main .highlight p i{
	color:#9CCE44;
}

.main .dropcap{
	float:left;
	margin:38px 0px 40px;
	width:536px;
}
.main .dropcap0{
	margin-right:38px;
}
.main .dropcap h3{
	margin-bottom:12px;
}
.main .dropcap span{
	float:left;
	margin-right:8px;
	width:36px;
	height:42px;
	line-height:42px;
	text-align:center;
	background-color:#666;
	font-size:28px;
	color:#fff;
}
.main .dropcap span.span0{
	border-radius:50%;
}
.main .dropcap p{
	line-height:25px;
	font-size:14px;
}
.main .highlight .bor{
	margin-top:16px;
	padding:16px 0px 16px 16px;
	padding-left:22px;
	border-left:5px solid #EEEEEE;
	line-height:20px;
}
.main .highlight ol{
	float:left;
	padding-left:22px;
}
.main .highlight ol li,.main .highlight ul li,.main  .gird p{
	font-size:14px;
	line-height:20px;
}
.main .highlight ul{
	float:left;
	margin-left:330px;
	list-style:disc;
}
.main  .gird  h4{
	margin:56px 0px 20px;
}
.main  .gird .two .left{
	float:left;
	width:550px;
}
.main  .gird .two .right{
	float:right;
	width:550px;
}
.main  .gird .three .left{
	float:left;
	margin-right:30px;
	width:350px;
}
.main  .gird  .left.r0{
	margin-right:0px;
}




